body {
  background-image: url('./game.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: grey;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 70px;
  background-color: rgb(240, 240, 240);
  width: 800px;
  margin-left: 550px;
  margin-top: 50px;
}
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 3px solid white;
  height: 200px;
  width: 300px;
  margin-left: 770px;
  margin-top: 200px;
}
#gues {
  padding: 5px;
  font-size: 20px;
  width: 40%;
  border: 3px solid black;
}
