body {
  background-image: url('./game.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: grey;
  min-height: 100vh;
}
h1 {
  text-align: center;
  color: aliceblue;
}
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
}