body {
  background-image: url('./game.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 70px;
}
h3 {
  text-align: center;
}
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 3px solid white;
  height: 220px;
  width: 350px;
  
}
#guess {
  padding: 5px;
  font-size: 20px;
  width: 40%;
  border: 3px solid black;
}
#btn {
  background-color: black;
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
@media all and (max-width: 800px){
  .container{
    flex-direction: column;
    height: 100vh;
  }
}